.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: auto;
    background-color: #fff;
    max-width: 1100px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    border-radius: 20px;
    box-shadow: 0px 3px 6px #2c28281c;
    width: 95%;
    transform: translateY(200px);

    a {
        text-decoration: none;
    }
    .react-slidedown.my-dropdown-slidedown {
        transition-duration: .30s;
        transition-timing-function: cubic-bezier(0.1, 0.7, 1.0, 0.1);
    }
    .card-title {
        color: #172b4d;
        padding: 40px;
        text-align: left;
        font-size: 30px;
        width: 100%;
    }

    .table-titles {
        background: $color2;
        width: 100%;

        ul {
            padding: 20px;
            padding-left: 25px;
            list-style: none;
            display: flex;
            justify-content: space-between;
            margin: 0;

            @media only screen and (min-width: 768px) {
                padding: 20px;
                padding-left: 50px;
                padding-right: 0;
            }

            li {
                color: #8898aa;
                text-transform: uppercase;
                text-align: left;
                width: 40%;
                font-size: calc(9px + (20 - 9) * ((100vw - 300px) / (1920 - 300)));


                &:first-child {
                    width: 50%;
                }
            }
        }
    }

    .contact-cards {
        list-style: none;
        margin: 0;
        width: 100%;

        .card-info {
            padding: 20px;
            padding-left: 25px;
            padding-right: 5px;
            list-style: none;
            display: flex;
            justify-content: space-evenly;
            align-content: center;
            margin: 0;
            width: 100%;
            @media only screen and (min-width: 768px) {
                padding: 20px;
                padding-left: 50px;
                padding-right: 20px;
            }
            .example-enter {
                height: 0px;
            }
            
            .example-enter.example-enter-active {
                height: 100px;
                -webkit-transition: height .3s ease;
            }
            
            .example-leave.example-leave-active {
                height: 0px;
                -webkit-transition: height .3s ease;
            }
            &:nth-child(even) {
                background-color: #f7fafc;

                .info-button {
                    a {
                        background-color: #fff;
                    }
                }
            }

            li {
                width: 100%;
                color: #8898aa;
                text-transform: uppercase;
                text-align: left;
                width: 40%;
                font-size: calc(9px + (14 - 9) * ((100vw - 300px) / (1920 - 300)));

                &:first-child {
                    width: 50%;
                }

                &.status {
                    width: 35%;
                }
            }

            .status {
                .complete-dot,
                .incomplete-dot {
                    display: inline-block;
                    vertical-align: middle;
                    padding-left: 10px;

                    &:before {
                        content: "";
                        background-color: #2dce98;
                        width: 8px;
                        height: 8px;
                        display: inline-block;
                        left: 0;
                        top: 10%;
                        border-radius: 50%;
                        vertical-align: middle;
                        margin-right: 5px;
                    }

                }

                .incomplete-dot {
                    &:before {
                        background-color: #FB6340;
                    }
                }
            }

            .info-button,
            a {
                width: 30px;
                height: 20px;
                border-radius: 50%;
                background-color: #f7fafc;
                box-shadow: 0px 3px 6px #2c28281c;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-evenly;
                cursor: pointer;
                transition: transform 0.3s ease;

                @media only screen and (min-width: 768px) {
                    width: 40px;
                    height: 30px;
                }

                &:hover {
                    transform: translateY(-5px);
                }

                .dot {
                    display: block;
                    background-color: #333;
                    width: 3px;
                    height: 3px;
                    border-radius: 50%;
                    margin-top: -1px;
                    margin-bottom: -1px;

                    @media only screen and (min-width: 768px) {
                        width: 5px;
                        height: 5px;
                    }
                }
            }
        }
    }
}

.pages {
    width: 100%;
    padding: 20px;
    text-align: right;
    display: flex;
    justify-content: flex-end;

    .number {
        display: flex;
        border-radius: 100%;
        border: 1px solid #8898aa80;
        width: 40px;
        height: 40px;
        justify-content: center;
        align-items: center;
        background-color: #7764e4;
        box-shadow: 0px 3px 6px #2c28281c;
        margin: 0 5px;
        cursor: pointer;
        color: #fff;

        &:hover {
            background-color: #8898aa;
        }

        &.active {
            background-color: #8898aa;
        }
    }
}
