#main_form {
    max-width: 1200px;
    padding: 30px;
    margin: auto;
    width: 90%;
    background-color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    border-radius: 20px;
    box-shadow: 0px 3px 6px #2c28281c;
    transform: translateY(200px);

    .form-group {
        max-width: 800px;
        margin: 30px auto;
    }


    label {
        padding: .5rem 0 .25rem;
    }

    checkbox,input, select,textarea {
        display: flex;
        width: 100%;
        appearance: none;
        border: 0;
        border-radius: 5px;
        box-shadow: 0px 2px 5px 2px rgba(#8898AA, .3);
        margin: auto;

    }

    h3 {
        padding-bottom: .15rem;
        font-size: xx-large;
        text-align: center;
    }
    [type^=checkbox] {
        // display: flex;
        width: 15px;
        height: 15px;
        appearance: checkbox;
    }
}


.doc-name  {
    .hospital-address{
        .zip {
            display: flex;
            flex-direction: row;
        }
    }
}

.patient-name {
    flex: 1;
}

.age {
    flex: 1;
}

.gender-select-menu,
.product-specs-menu,
.patient-payment-select {
     flex:1;
}
.main-complaint {
    flex: 1;
}


.delivery-time {
    flex: 1;
}

.calendar {
    flex: 1;
    max-width: 800px;
    margin: auto;

    .react-calendar {
        margin: auto;
    }
}

@media only screen and (min-width: 768px) {
    .canvas-container {
        display: flex;
        flex-wrap: wrap;
        max-width: 400px;
        margin: auto;
    
    }
}

.diagram {
    flex: 1 0 30%;
    padding:0.5em;
    margin: 0.5em;
    max-width: 400px;

    @media (min-width: 1100px) {
        width: 400px !important;
    }

    &.pnt {
        @media (min-width: 1100px) {
            width: 400px !important;
            height: 300px !important;
        }
    }
}

#btn-canvas {
    border: 2px solid darkblue;
    background-color:dodgerblue;
    border-radius: 5px;
    margin: 0.2em;
    text-transform: uppercase;
    font-size: 1em;
}
.treatment-btn-container {
    display: flex;
    flex-wrap: wrap;
}

.treatment-btn{
    flex: 1 0 22%;
    border: 2px solid black;
    background-color: rgb(78, 151, 225);
    padding:0.5em;
    margin: 0.5em;
    &:hover {
        background-color: rgb(191, 191, 202);
    }

}

.nav-btn {
    border: 2px solid black;
    background-color: rgb(22, 123, 225);
    padding: 0.5em;
    margin: 0.5em;
    text-transform: uppercase;
    &:hover {
        background-color: rgb(19, 33, 109);
    }
}

.edit-btn {
    border: 2px solid rgb(0, 0, 0);
    height: 40px;
    width: 60px;
    padding:0.5em;
    margin: 0.5em;
    display: inline-block;
    background-color: rgb(62, 158, 187);
    text-transform: uppercase;
    text-align: center;
    font-size: 70%;
    &:hover {
        background-color: rgb(79, 190, 241);
    }
}
.delivery-div {
    max-width: 800px;
    padding: 0.5em;
    margin: 0.5em;
    text-align: center;
    padding-bottom: 7px;
}


.patient-name-container{
    display: flex;
    flex-wrap: wrap;

}

.patient-name-input {
    flex: 1 0 50%;
    margin: 0.5em;
}

#btn {
    background-color: #7764e4;
    box-shadow: 0px 3px 6px #2c28281c;
    color: $color-white;
    transition: background-color .4s ease;

    &:hover {
        background-color: #8898aa;
    }
}