  
#main_form {
    max-width: 1200px;
    padding: 30px;
    margin: auto;

    label { 
        padding: .5rem 0 .25rem;
    }
    input, select,textarea {
        display: flex;
        width: 500px;
        border: 2px solid dodgerblue;
        border-radius: 5px;
    }
    
    h3 {
        padding-bottom: .15rem;
        font-size: xx-large;
        text-align: center;
    }
}
// .form-box label {
//     flex-basis: 9rem;
// }

.doc-name .hospital-address .zip {
    display: flex;
    flex-direction: row;
}
// .form-box .hospital-address {
//     flex: 1;
//     // position: relative;
//     // left: 500px;
//     // top: -53px;
// }
// .form-box .zip {
//     flex: 1;
//     // position: relative;
//     // left: 500px;
//     // top: -80px;
// }

.patient-name {
    flex: 1;
    // position: relative;
    // top: -50px;
}


// .patient-name-input {
//     position: relative;
//     top: 50px;
//     right: 70px;
// }
.age {
    flex: 1;
    // position: relative;
    // left: 540px;

    // top: -102px;
}
.gender-select-menu,.product-specs-menu,.patient-payment-select{
     flex:1;
}

// .other-option {
//     position: relative;
//     bottom: -10px;
// }

.main-complaint { 
    flex: 1;
    // position: relative;
    // left: 500px;
    // top: -350px;
}

// .main-complaint-label{
//     position: relative;
//     top: -50px;
//     left: 50px;
// }
.delivery-time {
    flex: 1;
    // position: relative;
    // top: -210px;
    // right: 10px;
}

// .order-heading {
//     position: relative;
//     bottom: 160px;
// }
.calendar {
    flex: 1;
    // position: relative;
    // top: -95px;
}

.canvas {
    flex: 1;
    // position: relative;
    // left: 500px;
    // top: -420px;
}
#btn-canvas {
    border: 2px solid darkblue;
    background-color:dodgerblue;
    border-radius: 5px;
}
#btn {

    border: 2px solid darkblue;
    background-color:dodgerblue;
    
}