.login {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    border-radius: 5px;
    padding: 30px;
    width: 350px;
    height: 350px;
    box-shadow: 10px 10px 39px 1px rgba(0, 0, 0, 0.24);
}
