#registration-btn {
  color: white;
  border: 2px solid #172b4d;
  background-color:  #11cdef;
  width: 150px;
  height: 80px;
  display:inline-block;
  
}

#registration-link {
  color: white;
  font-size: large;
}

.registration {
  position: absolute;
  top: 46%;
  left: 35%;
  bottom: 90%;
}
