#registration-btn {
  color: white;
  border: 2px solid #172b4d;
  background-color:  #11cdef;
  width: 150px;
  height: 80px;
  display:inline-block;
  
}

#registration-link {
  color: white;
}

.registration {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 40%;
  bottom: 90%;
}
