.signup {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  border-radius: 5px;
  padding: 30px;
  width: 400px;
  height: 480px;
  box-shadow: 10px 10px 39px 1px rgba(0, 0, 0, 0.24);
}

html {
  background: linear-gradient(350deg,  #172b4d 58%, #11cdef  30%);
}

  