.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
.header {
    color: black;
    background-color: dodgerblue;
    text-align: center;
    font-size: 50px;
}
#main_form {
    position: relative;
    max-width: 1300px;
    left: 0px;
    margin: auto;
    overflow: hidden;
}

.hospital-info-header {
    position: relative;
    font-weight: bold;
    left: auto;
}

.doctor-name {
<<<<<<< HEAD
  position: relative;
  width: 300px; 
=======
    position: relative;
    left: 15px;
>>>>>>> f9a238f1e94ee05684db3ca6e1b76208ac75ae39
}
.age-div {
    position: relative;
    left: 1083px;
    top: 35px;
    font-size: large;
}

.age-label {
    position: relative;
    left: 15px;
    top: 40px;
}


.hospital-address{
  position: relative;
  width: 500px;
}
.zip {
  position: relative;
  width: 200px;
  left: 510px;
  bottom: 108px;
}

.patient-info-header {
  position: relative;
  bottom: 100px;
  left: 0px;
  padding-bottom: 1%;
  font-weight: bold;
}

.age-label{
    position: relative;
    left: 630px;
    top: -207px;
    width: 100px;
}

.gender-select-menu {
  position: relative;
  left: 500px;
  bottom: 314px;
  width: 110px;
}

.patient-name {
  position: relative;
  left: 20px;
  width: 500px;
  bottom: 100px;

}

#product-specs-menu {
  position: relative;
  bottom: 300px;
  width: 300px;
}

.patient-payment-select {
  position: relative;
  bottom: 408px;
  left: 320px;
  width: 250px;
}

.main-complaint-label{
  position: relative;
  bottom: 400px;
  left: 15px;

}

.product-specs-menu{
  position: relative;
  width: 250px;
  bottom: 290px;
}


.delivery-time {
    position: relative;
    width: 125px;
    left: 0px;
    top: 0px;
    font-weight: bold;
    font-size: x-large;
}

.cards {
    display: flex;
    justify-content: space-around;
    margin: 30px auto;
}

.contactCards {
    width: 300px;
    height: 300px;
    background: dodgerblue;
}

/* .delivery-div {
    color: red;
} */

.delivery-div {
    position: relative;
    left: 170px;
    bottom: 525px;
    font-size: large;
}