.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.CalendarContainer {
    max-width: 500px;
    background-color: white;
    padding: 10px;
    box-shadow: 0 0 0 1px black, 0 1px 10px 0 black;
}

.CalendarTitle {
    font-size: 1.2rem;
    color: black;
    text-align: center;
}

.WeekdayContainer {
    display: flex;
}

.Weekday {
    display: block;
    flex: 1 0 0%;
    padding: 0, 8rem;
    background: transparent;
    font-size: 1.2rem;
    color: black;
    text-align: center;
}

.Week {
    display: flex;
}

.Day {
    display: block;
    flex: 1 0 0%;
    width: 14.28571%;
    margin: 0;
    padding: 0.8rem;
    background: transparent;
    border: 1px solid black;
    border-radius: 0;
    outline: none;
    font-size: 1.2rem;
    text-align: center;
    cursor: pointer;
}

.Day + .Day,
.Day + .EmptyStateDay {
    margin-left: -1px;
}

.Day--selected {
    background: dodgerblue;
    border: 1px solid black;
    color: white;
}

.Day--hovering {
    background: lightblue;
    border: 1px solid black;
}

.EmptyStateDay {
    display: block;
    flex: 1 0 0%;
    width: calc(100% / 7);
    margin: 0;
    padding: 0.8rem;
    border: 1px solid black;
}

#main_form {
    max-width: 1300px;
    margin: auto;
}

.EmptyStateDay + .EmptyStateDay,
.EmptyStateDay + Day {
    margin-left: -1px;
}